<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.mapper.BuildingMapper">
    <sql id="BuildingQuery">
        <where>
            <if test="name != null">name like concat('%' ,#{name} ,'%')</if>
            <if test="storeyNum != null">and storey_num= #{storeyNum}</if>
            <if test="sex != null">and sex= #{sex}</if>
            <if test="userId != null">and user_id= #{userId}</if>
            <if test="remark != null">and remark= #{remark}</if>
            <if test="id != null">and id= #{id}</if>
        </where>

    </sql>
    <insert id="saveBuilding" parameterType="com.lsh.domain.Building">
        insert into tb_building
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="name != null">name</if>
            <if test="sex != null">,sex</if>
            <if test="storeyNum != null">,storey_num</if>
            <if test="remark != null">,remark</if>
            <if test="userId != null">,user_id</if>
        </trim>
        values
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="name != null">,#{name}</if>
            <if test="sex != null">,#{sex}</if>
            <if test="storeyNum != null">,#{storeyNum}</if>
            <if test="remark != null">,#{remark}</if>
            <if test="userId != null">,#{userId}</if>
        </trim>
    </insert>
    <update id="updateBuilding">
        update tb_building
        <set>
            <if test="name != null">,name =#{name}</if>
            <if test="storeyNum != null">,storey_num = #{storeyNum}</if>
            <if test="sex != null">,sex = #{sex}</if>
            <if test="remark != null">,remark = #{remark}</if>
            <if test="userId != null">,user_id = #{userId}</if>
        </set>
        where id =#{id}

    </update>
    <select id="BuildingQueryByPage" resultType="com.lsh.domain.Building"
            parameterType="com.lsh.domain.Building">
        select * from tb_building
        <include refid="BuildingQuery"></include>

    </select>
    <select id="getBuilding" resultType="com.lsh.domain.Building">
        select * from
        tb_building
        <include refid="BuildingQuery"></include>

    </select>
</mapper>
