<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsh.mapper.GradeMapper">
    <insert id="add">
        insert into tb_grade(name)
        values (#{name})

    </insert>
    <update id="updateGradeById">
        update tb_grade set
        <if test="name != null and name != ''">name = #{name}</if>
      where id = #{id}
    </update>


    <select id="queryByPage" resultType="com.lsh.domain.Grade">
        select * from tb_grade
        <include refid="GradeFindCriteria"/>

    </select>


    <sql id="GradeFindCriteria">
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null and name != ''">and name like concat('%',#{name},'%')</if>

            <!--            <if test="name != null and name != '' ">name like cocat( '%',#{name},'%')</if>-->
        </where>

    </sql>
</mapper>