<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.mapper.NoticeMapper">
    <insert id="insertNotice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_notice
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="title != null">, title</if>
            <if test="content != null">, content</if>
            <if test="userId != null">, user_id</if>
            <if test="filepath != null">, filepath</if>
            <if test="type != null">, type</if>
            <if test="createTime != null">, create_time</if>

        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="title != null">, #{title}</if>
            <if test="content != null">, #{content}</if>
            <if test="userId != null">, #{userId}</if>
            <if test="filepath != null">, #{filepath}</if>
            <if test="type != null">, #{type}</if>
            <if test="createTime != null">, #{createTime}</if>
        </trim>

    </insert>

    <update id="updateNotice">
        update tb_notice
        <set>
            <if test="title != null">, title= #{title}</if>
            <if test="content != null">, content= #{content}</if>
            <if test="createTime != null">, create_time = #{createTime}</if>
            <if test="userId != null">, user_id= #{userId}</if>
            <if test="filepath != null">, filepath = #{filepath}</if>
        </set>

    </update>


    <select id="queryByPage" resultType="com.lsh.domain.Notice" parameterType="com.lsh.domain.Notice">
        select * from tb_notice
        <include refid="NoticeFindCriteria"/>
    </select>
    <select id="getNotice" resultType="com.lsh.domain.Notice">
        select * from
        tb_notice
        <include refid="NoticeFindCriteria"/>
    </select>

    <select id="queryByBuildingId" resultType="com.lsh.domain.Notice">
        select tb_notice.*
        from tb_notice,tb_notice_receive
        where tb_notice.id = tb_notice_receive.notice_id
          and building_id = #{buildingId}
        <include refid="NoticeFindCriteria"/>
    </select>


    <sql id="NoticeFindCriteria">
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="title != null and title != ''">and title = #{title}</if>
            <if test="content != null and content != ''">and content = #{content}</if>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="filepath != null and filepath != ''">and filepath = #{filepath}</if>
            <if test="type != null and type != ''">and type = #{type}</if>
        </where>
    </sql>
</mapper>
