<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.mapper.RoleMapper">

    <select id="findRoleByUserId" resultType="com.lsh.domain.Role">
        select tb_role.id, role
        from tb_role, tb_user, tb_user_role ur
        where
              tb_role.id = ur.role_id
          and ur.user_id = tb_user.id
          and tb_user.id = #{userId}
    </select>
</mapper>
