<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.mapper.SelectionMapper">
    <insert id="saveSelection" parameterType="com.lsh.domain.Selection" useGeneratedKeys="true" keyProperty="id">
        insert into tb_selection(
            name,
            start_time,
            end_time,
            remark
        )values(
                   #{name},
                   #{startTime},
                   #{endTime},
                   #{remark}
               )

    </insert>
    <update id="updateSelection" parameterType="com.lsh.domain.Selection">

        update tb_selection
        set name=#{name},
            start_time=#{startTime},
            end_time=#{endTime},
            remark=#{remark}
        where id = #{id}

    </update>

    <select id="querySelection" resultType="com.lsh.domain.Selection" parameterType="com.lsh.domain.Selection">
        select * from tb_selection
        <include refid="SelectionFindCriteria"/>
    </select>
    <select id="selectByClazzId" resultType="com.lsh.domain.Selection">
        select ts.*
        from tb_selection ts,
             tb_selection_joiner tsj
        where ts.id = tsj.selection_id
          and tsj.clazz_id = #{clazzId}
        order by start_time desc limit 1

    </select>

    <sql id="SelectionFindCriteria">
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="remark != null and remark != ''">and remark = #{remark}</if>
        </where>
    </sql>

</mapper>
