<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.mapper.VisitMapper">

    <select id="queryByPage" resultType="com.lsh.domain.Visit">

        select * from tb_visit
        <include refid="VisitFindCriteria"/>


    </select>


    <sql id="VisitFindCriteria">
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="visitor != null and visitor != ''">and visitor = #{visitor}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="sex != null">and sex = #{sex}</if>
            <if test="idcard != null and idcard != ''">and idcard = #{idcard}</if>
            <if test="studentId != null">and student_id = #{studentId}</if>
            <if test="remark != null and remark != ''">and remark = #{remark}</if>
        </where>
    </sql>
</mapper>
