<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.mapper.VisitMapper">
    <insert id="save">

        insert into tb_visit
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test=" visitor != null">,visitor</if>
            <if test=" phone != null">,phone</if>
            <if test=" sex != null">,sex</if>
            <if test=" visitTime != null">,visit_time</if>
            <if test=" leaveTime != null">,leave_time</if>
            <if test=" remark != null">,remark</if>
        </trim>
        values
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test=" visitor != null">,#{visitor}</if>
            <if test=" phone != null">,#{phone}</if>
            <if test=" sex != null">,#{sex}</if>
            <if test=" visitTime != null">,#{visitTime}</if>
            <if test=" leaveTime != null">,#{leaveTime}</if>
            <if test=" remark != null">,#{remark}</if>
        </trim>
    </insert>
    <update id="updateVisitor">
        update tb_visit
        <set>
        <if test="visitor != null"> visitor = #{visitor}</if>
        <if test="phone != null"> phone =#{phone}</if>
        <if test="sex != null"> sex =#{sex}</if>
        <if test="visitTime != null"> visit_time =#{visitTime}</if>
        <if test="leaveTime != null"> leave_time =#{leaveTime}</if>
        <if test="remark != null"> remark =#{remark}</if>
        </set>


    </update>

    <select id="queryByPage" resultType="com.lsh.domain.Visit">

        select * from tb_visit
        <include refid="VisitFindCriteria"/>

        order by visit_time desc
    </select>


    <sql id="VisitFindCriteria">
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="visitor != null and visitor != ''">and visitor = #{visitor}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="sex != null">and sex = #{sex}</if>
            <if test="idcard != null and idcard != ''">and idcard = #{idcard}</if>
            <if test="studentId != null">and student_id = #{studentId}</if>
            <if test="remark != null and remark != ''">and remark = #{remark}</if>
        </where>
    </sql>
</mapper>
